@import "../_common/css/_function";
@import "../_common/css/_variables";
@import "../_common/css/_reboot";
@import "../_common/css/_common";

/* master section */
/*#master-section {
    width: 10rem;
    padding: 0rem .5rem .5rem;
    .master {
        position: relative;
        width: 100%;
        height: 4rem;
        background-color: #aeaeae;
        margin-top: .5rem;
        img {
            width: 100%;
            height: 100%;
        }
        .bar {
            position: absolute;
            padding-left: 1rem;
            width: 100%;
            height: 1rem;
            bottom: 0;
            background-color: rgba(0, 0, 0, .2);
            font-size: .3rem;
            line-height: 1rem;
        }
    }
}*/

/*$gold:#FAD65A;*/
$gold:#FFCC33;
/*$gold:#FFFF00;*/
$watchingnum:#86CDE9;
/*$watchingnum:#ffff00;*/

a, u {
    text-decoration: none;
}
p {
    font-size: .42rem;
}
body {
	/*background:linear-gradient(to right, rgba(27, 80, 90, 0.5), rgba(78, 20, 89, 0.5));;*/
    background-color:#E6FFFF;
}
/* musixiser section */

#musixiser-section {    
    width: 10rem;
    padding: 0rem 0rem .5rem;
    .musixiser {
        display: block;
        position: relative;
        width: 100%;
        /*height: 9+1.5rem;   9rem*9rem, extra 1.5rem description bar*/
        background-color: #eee;
        margin-bottom: .3rem;
        .l-avatar {
            width: 100%;
            height: 10rem;
            img {
                width: 100%;
            }
        }
        .info {
        	display: flex;
        	position: relative;
        	background-color: #272727;
            color:white;
	        padding-left: .5rem;
	        width: 100%;
	        height: 1.5rem;
	        /*bottom: 0;*/
	        font-size: .5rem;
	        line-height: 1.5rem;
            .section-one {
                flex:1;
                .s-avatar {
                    height: 1.2rem;
                    margin-top:.15rem;
                    border-radius: .6rem;
                    border:2px solid $gold;
                }
            }
            .section-two {
                flex:3;
                .name {
                    /*line-height: .75rem;*/
                }
            }

	        .listener-total {
                text-align: right;
                padding-right: .3rem;
	        	flex:2;
                font-size: .32rem;
                span {
                    position: relative;
                    display: inline-block;
                    top: .033rem;
                    right: .1rem;
                    color: $watchingnum;
                    font-size: .5rem;   

                }
	        }
	        .nationality {
	        	flex:1;
	        }
    	}
        .caption {
            background-color: #272727;
            font-size:.32rem;
            line-height: .75rem;
            padding-left: .5rem;
            color: $gold;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                border-top: 1px solid #888;
                -webkit-transform: scaleY(.5);
                -webkit-transform-origin: 0 0;
                transform: scaleY(.5);
                transform-origin: 0 0;
            }
        }
    }

}
