  <div id="bg"><img src="<%-data.backgroundSprite%>" id="bgi" /></div>
  <div id="top-layer">
    <div id="tl-basic">
      <h2 id="musixiser-name"><%-data.nickName%></h2>
      <h3 id="musixiser-duration"><%-data.startTime%></h3>
    </div>
    <div id="tl-msg"><ul></ul></div>
    <input id="leaveMessage" placeholder="发表留言:"></input>
  </div>