<% if(data) { %>
    <h2>作品</h2>
    <ul>
        <li>
            <div class="info" data-id="<%-data.id%>">
                <span>作品名</span>
                <input id='work-title' placeholder="<%-data.title%>"></input>
                <span>作品介绍</span>
                <input id='work-desc' placeholder="<%-data.content%>"></input>
                <span>作品封面</span>
                <img src="<%-data.cover%>">
                <button id="uploadBtn"></button>
            </div>
        </li>
    </ul>
<% } %>
