.bhidden{
  display: none;
  visibility: hidden;
}
.bshow{
  display: flex;
  display: -webkit-box;
}
.space {
  -webkit-box-flex: 1.0;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  content: "";
}
